*.log
.DS_Store
# .env (Removed to allow sharing)
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
# /.idea (Removed to allow sharing)
/.nova
/.phpunit.cache
# /.vscode (Removed to allow sharing)
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
